.maps-Container{
  margin-left:75px;
  margin-right: 60px;
  .yazi{
p{
  @include Fonttip($Bblack,Gotham-Medium_TR,27);
}
margin-top: 61px;
    text-align:center;
    margin-bottom: 28px;
  }
.gmaps{
  height: 549px;
  margin: 0;
  padding: 0;
  width: 100%;


}

}