$Pgold: #f0d04e;
$Pblack: #1f1f1f;
$Pwhite: #ffffff;
$Tgold:#e4c030;
$Tmetalic:#7a7a7a;
$Bblack:#000000;

$Cgold:#f2d54e;
$Cblack:#2e2c2c;
$Cgray:#a4a4a4;

$fblack:#262626;
$Fwhite:#f6f6f6;
$facebookc:#00aced;

$twitter: #00aced;
$facebook: #3b5998;
$instagram: #517fa4;