@charset "UTF-8";
@font-face {
  font-family: 'Glyphter';
  src: url("../font/Glyphter.eot");
  src: url("../font/Glyphter.eot?#iefix") format("embedded-opentype"), url("../font/Glyphter.woff") format("woff"), url("../font/Glyphter.ttf") format("truetype"), url("../font/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-sag:before {
  content: '\0041'; }

.icon-sol:before {
  content: '\0042'; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../font/Lato-Regular.eot");
  src: url("../font/Lato-Regular.woff") format("woff"), url("../font/Lato-Regular.ttf") format("truetype"), url("../font/Lato-Regular.svg#Lato-Regular") format("svg"), url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../font/Lato-Bold.eot");
  src: url("../font/Lato-Bold.woff") format("woff"), url("../font/Lato-Bold.ttf") format("truetype"), url("../font/Lato-Bold.svg#Lato-Bold") format("svg"), url("../font/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Black_TR';
  src: url("../font/Gotham-Black_TR.eot");
  src: url("../font/Gotham-Black_TR.eot?#iefix") format("embedded-opentype");
  src: url("../font/GothamBlack.woff") format("woff"), url("../font/GothamBlack.ttf") format("truetype"), url("../font/GothamBlack.svg#GothamBlack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Bold_TR';
  src: url("../font/Gotham-Bold_TR_0.eot");
  src: url("../font/Gotham-Bold_TR_0.eot?#iefix") format("embedded-opentype");
  src: url("../font/GothamBold.woff") format("woff"), url("../font/GothamBold.ttf") format("truetype"), url("../font/GothamBold.svg#GothamBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Light_TR';
  src: url("../font/Gotham-Light_TR.eot");
  src: url("../font/Gotham-Light_TR.eot?#iefix") format("embedded-opentype");
  src: url("../font/GothamLight.woff") format("woff"), url("../font/GothamLight.ttf") format("truetype"), url("../font/GothamLight.svg#GothamLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Medium_TR';
  src: url("../font/Gotham-Medium_TR.eot");
  src: url("../font/Gotham-Medium_TR.eot?#iefix") format("embedded-opentype");
  src: url("../font/GothamMedium.woff") format("woff"), url("../font/GothamMedium.ttf") format("truetype"), url("../font/GothamMedium.svg#GothamMedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamNarrow-Bold';
  src: url("../font/GothamNarrow-Bold.eot");
  src: url("../font/GothamNarrow-Bold.woff") format("woff"), url("../font/GothamNarrow-Bold.ttf") format("truetype"), url("../font/GothamNarrow-Bold.svg#GothamNarrow-Bold") format("svg"), url("../font/GothamNarrow-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-XLight_TR';
  src: url("../font/Gotham-XLight_TR.eot");
  src: url("../font/Gotham-XLight_TR.eot?#iefix") format("embedded-opentype");
  src: url("../font/GothamExtraLight.woff") format("woff"), url("../font/GothamExtraLight.ttf") format("truetype"), url("../font/GothamExtraLight.svg#GothamExtraLight") format("svg");
  font-weight: normal;
  font-style: normal; }

.post {
  position: absolute;
  z-index: 2; }

.imgopack66 {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.66;
  filter: alpha(opacity=66); }

.imgopack72 {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.72;
  filter: alpha(opacity=72); }

.imgopack45 {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  filter: alpha(opacity=45); }

.ayrac {
  height: 34px;
  width: 1px;
  background-color: #ffffff;
  display: inline-block;
  position: absolute; }

.text-media {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block; }

.luxwork .markaluxwork {
  margin-right: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Gotham-XLight_TR;
  font-size: 21px;
  line-height: 30px; }

.luxwork .projeluxwork {
  margin-left: 13px;
  display: inline-block;
  color: #ffffff;
  font-family: GothamNarrow-Bold;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px; }

.markagenaral {
  margin-right: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Gotham-XLight_TR;
  font-size: 15px;
  line-height: 30px; }

.projegenaral {
  margin-left: 13px;
  display: inline-block;
  color: #ffffff;
  font-family: Gotham-Bold_TR;
  font-size: 18px;
  line-height: 30px; }

.markagenaral15 {
  margin-right: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Gotham-XLight_TR;
  font-size: 15px;
  line-height: 30px; }

.projegenaral15 {
  margin-left: 13px;
  display: inline-block;
  color: #ffffff;
  font-family: GothamNarrow-Bold;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold; }

p.baslik {
  color: #ffffff;
  font-family: GothamNarrow-Bold;
  font-size: 15px;
  font-weight: bold; }

p.altbaslik {
  color: #ffffff;
  font-family: Gotham-XLight_TR;
  font-size: 13px; }

p.bbaslik {
  color: #000000;
  font-family: GothamNarrow-Bold;
  font-size: 15px;
  font-weight: bold; }

p.baltbaslik {
  color: #000000;
  font-family: Gotham-XLight_TR;
  font-size: 13px; }

p.text-ana {
  color: #f0d04e;
  font-family: Gotham-Medium_TR;
  font-size: 15px; }

p.text-marka {
  color: #1f1f1f;
  font-family: Gotham-XLight_TR;
  font-size: 42px; }

.cizgidv {
  height: 1px;
  display: block;
  background-color: #eaeaea;
  margin-top: 68px; }

.main-header {
  max-height: 920px; }
  .main-header .logo img {
    margin-top: 33px;
    margin-left: 75px; }
  .main-header .primary_nav {
    margin-top: 35px; }
  .main-header ul {
    list-style-type: none; }
    .main-header ul li {
      padding: 0px 24px; }
      .main-header ul li a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-family: Gotham-Medium_TR;
        font-size: 13px; }
        .main-header ul li a:hover {
          border-bottom: 2px solid #f0d04e;
          padding-bottom: 11px; }

.pad0 {
  padding: 0; }

.main-container {
  z-index: 1;
  margin-top: -132px;
  left: 0;
  right: 0;
  position: relative; }
  .main-container .project {
    height: 520px;
    font-weight: 800; }
    .main-container .project .work {
      height: 520px; }
      .main-container .project .work .ongoing {
        width: 100%;
        background-color: #000000;
        height: 200px;
        float: left;
        text-align: center; }
        .main-container .project .work .ongoing .ongoingimg {
          margin-top: 49px; }
          .main-container .project .work .ongoing .ongoingimg img {
            width: 61px;
            height: 61px; }
      .main-container .project .work .endgoing, .main-container .project .work .goingend {
        width: 100%;
        float: left;
        background-color: #ffffff;
        height: 320px;
        text-align: center; }
        .main-container .project .work .endgoing:hover .btnok, .main-container .project .work .goingend:hover .btnok {
          background-color: #000000; }
          .main-container .project .work .endgoing:hover .btnok i, .main-container .project .work .goingend:hover .btnok i {
            color: #ffffff; }
        .main-container .project .work .endgoing .endgoingimg, .main-container .project .work .goingend .endgoingimg {
          margin-top: 97px; }
          .main-container .project .work .endgoing .endgoingimg img, .main-container .project .work .goingend .endgoingimg img {
            width: 44px;
            height: 44px; }
        .main-container .project .work .endgoing .btnok, .main-container .project .work .goingend .btnok {
          width: 31px;
          height: 31px;
          margin-top: 18px;
          background-color: #ffffff;
          text-align: center;
          display: inline-block;
          border-width: 1px;
          border-color: #000000;
          border-style: solid;
          transition: background 0.5s; }
          .main-container .project .work .endgoing .btnok i, .main-container .project .work .goingend .btnok i {
            margin-top: 9px;
            width: 8px;
            height: 13px;
            text-align: center;
            color: #000000;
            display: inline-block; }
    .main-container .project .luxwork {
      width: 100%;
      height: 520px;
      position: relative; }
    .main-container .project .luxsite {
      height: 520px;
      margin-left: 5px; }
      .main-container .project .luxsite .luxsiteone {
        height: 256px;
        width: 100%;
        display: inline-block;
        position: relative; }
      .main-container .project .luxsite .luxsitetwo {
        margin-top: 5px;
        height: 259px;
        width: 100%;
        display: inline-block;
        position: relative; }
    .main-container .project .luxdesk {
      height: 520px;
      margin-left: 5px; }
      .main-container .project .luxdesk .luxdeskone {
        width: 100%;
        height: 256px;
        display: inline-block;
        position: relative; }
      .main-container .project .luxdesk .luxdesktwo {
        margin-top: 5px;
        width: 100%;
        display: inline-block;
        height: 259px;
        position: relative; }
    .main-container .project .luxoffices {
      height: 520px;
      margin-left: 5px; }
      .main-container .project .luxoffices .luxofficesone {
        width: 100%;
        display: inline-block;
        height: 256px;
        position: relative; }
      .main-container .project .luxoffices .luxofficestwo {
        margin-top: 5px;
        width: 100%;
        height: 259px;
        display: inline-block;
        position: relative; }

.resp {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.text-Container {
  margin-top: 68px;
  margin-left: 75px;
  margin-right: 75px; }
  .text-Container .icerik {
    margin-right: 85px;
    float: left; }
    .text-Container .icerik .text-cizgi {
      width: 67px;
      height: 2px;
      margin-top: 25px;
      background-color: #e4c030; }
    .text-Container .icerik .text-icerk {
      margin-top: 27px;
      display: inline-block; }
      .text-Container .icerik .text-icerk p {
        color: #7a7a7a;
        font-family: Lato-Regular;
        font-size: 14px; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }
  .navbar-toggle {
    display: block; }
    .navbar-toggle .logo img {
      margin: 0 auto; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    background-color: #DAD9DA; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar-text {
    float: none;
    margin: 15px 0; }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }
  .collapsing {
    overflow: hidden !important; } }

.col-fhd-1 {
  width: 8.333333333333332%; }

.col-fhd-2 {
  width: 16.666666666666664%; }

.col-fhd-5 {
  width: 41.66666666666667%; }

.col-fhd-1, .col-fhd-2, .col-fhd-3, .col-fhd-4, .col-fhd-5, .col-fhd-6, .col-fhd-7, .col-fhd-8, .col-fhd-9, .col-fhd-10, .col-fhd-11, .col-fhd-12 {
  float: left; }

@media (min-width: 1200px) {
  .container {
    width: 100%; } }

@media screen and (max-width: 425px) {
  .slider-i {
    font-size: 60px !important; }
  #logoimg {
    height: 40px !important;
    width: 50px !important; }
  .captionc {
    left: 0PX !important;
    margin-top: 20px !important; }
    .captionc .contex {
      margin-top: 15px;
      margin-left: 10% !important;
      padding-left: 0px !important;
      padding-right: 0px !important; }
      .captionc .contex .contex-icerik {
        margin-top: 0px !important; }
        .captionc .contex .contex-icerik .sbaslik {
          font-size: 17px !important; }
        .captionc .contex .contex-icerik .saltbaslik {
          font-size: 11px !important; }
  .contex .slider-part {
    height: 90px !important; }
  .navs .logo img {
    margin-left: 10px !important; }
  .item {
    position: relative; }
  .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px !important; }
  .main-header {
    max-height: 200px !important; }
  .main-container {
    margin-top: -33px; }
  .navs .logo img {
    margin-top: 3px;
    margin-left: 30px;
    height: 60px; }
  .maps-Container {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .maps-Container .yazi p {
      font-size: 24px !important; }
    .maps-Container .gmaps {
      height: 250px !important; }
  .footer-Conteiner .footersos .fikirhakkı {
    margin-left: 0px !important;
    margin-top: 20px !important; }
  .footer-Conteiner .foot-menu .foot-wmenu ul {
    margin-top: 20px !important;
    padding-left: 0px; }
    .footer-Conteiner .foot-menu .foot-wmenu ul li {
      margin-right: 10px !important;
      float: none; }
  .footer-Conteiner .foot-menu .footer-up {
    margin-left: 10px !important; }
  .text-Container .icerik .text-ana {
    font-size: 13px; }
  .text-Container .icerik .text-marka {
    font-size: 28px; } }

@media screen and (max-width: 375px) {
  .rest {
    left: 0px; }
  .text-Container {
    display: inline; }
  .footer-Conteiner .foot-menu {
    height: 120px !important; }
    .footer-Conteiner .foot-menu .foot-wmenu ul li {
      float: none !important; }
  .footer-Conteiner .footersos .fikirhakkı {
    margin-left: 0px !important;
    margin-top: 20px !important; }
  .footer-Conteiner .footersos .footsos {
    margin-right: 0px !important; }
    .footer-Conteiner .footersos .footsos .f-sosyal {
      margin-right: 11px !important; }
    .footer-Conteiner .footersos .footsos .i-sosyal {
      margin-right: 11px !important; }
    .footer-Conteiner .footersos .footsos .t-sosyal {
      margin-right: 11px !important; } }

@media screen and (max-width: 320px) {
  .footer-Conteiner .foot-menu {
    height: 120px !important; }
    .footer-Conteiner .foot-menu .foot-wmenu ul li {
      float: none !important; } }

@media screen and (max-width: 768px) and (min-width: 420px) {
  .captionc {
    left: 15% !important; } }

@media screen and (max-width: 768px) {
  #ulmenu li a {
    display: inline-block; }
  .maps-Container {
    margin-right: 30px !important;
    margin-left: 30px !important; }
  .text-Container {
    margin-left: 0px; }
  .col-fhd-1 {
    width: 100%; }
  .col-fhd-2 {
    width: 100%; }
  .col-fhd-5 {
    width: auto; }
  .main-container .project .work .ongoing {
    margin-bottom: 5px; }
  .main-container .project .luxwork {
    height: 256px;
    margin-bottom: 5px; }
  .main-container .project .work {
    height: 200px; }
  .main-container .project .work .endgoing {
    height: 200px;
    margin-bottom: 60px; }
  .col-fhd-1, .col-fhd-2, .col-fhd-3, .col-fhd-4, .col-fhd-5, .col-fhd-6, .col-fhd-7, .col-fhd-8, .col-fhd-9, .col-fhd-10, .col-fhd-11, .col-fhd-12 {
    float: left; }
  .container {
    max-width: 425px; }
  .main-container .project .luxsite {
    margin-left: 0px; }
  .main-container .project .luxdesk {
    margin-left: 0px; }
  .main-container .project .luxoffices {
    margin-left: 0px; }
  .main-header .primary_nav nav ul li {
    padding-bottom: 15px;
    text-align: center; }
  .main-header .primary_nav nav ul li a :hover {
    padding-bottom: 5px; }
  .text-Container {
    margin-right: 0px; }
    .text-Container .icerik {
      margin-top: 25px;
      margin-right: 0px; }
      .text-Container .icerik .text-baslik {
        float: none !important;
        text-align: -webkit-center; }
      .text-Container .icerik .text-icerk {
        text-align: center; }
      .text-Container .icerik .text-cizgi {
        margin-top: 7px; }
  .imgicerik {
    margin-top: 28px; }
  .footer-Conteiner .foot-menu .foot-wmenu ul li {
    margin-right: 7px !important; }
  .content-Conteiner {
    margin-right: 0 !important;
    margin-left: 0 !important; }
    .content-Conteiner .information-box {
      margin-left: 0 !important;
      margin-top: 10px; } }

.maps-Container {
  margin-left: 75px;
  margin-right: 60px; }
  .maps-Container .yazi {
    margin-top: 61px;
    text-align: center;
    margin-bottom: 28px; }
    .maps-Container .yazi p {
      color: #000000;
      font-family: Gotham-Medium_TR;
      font-size: 27px; }
  .maps-Container .gmaps {
    height: 549px;
    margin: 0;
    padding: 0;
    width: 100%; }

.form-controlrl {
  display: block;
  width: 100%;
  height: 52px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ebebeb;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

#formmsj {
  height: 120px; }

.content-Conteiner {
  margin-left: 75px;
  margin-right: 60px;
  margin-top: 49px; }
  .content-Conteiner .information .adres {
    margin-bottom: 43px; }
    .content-Conteiner .information .adres .dikcubuk {
      width: 3px;
      height: 83px;
      background-color: #f2d54e;
      position: absolute; }
    .content-Conteiner .information .adres .adresana p {
      color: #2e2c2c;
      font-family: Gotham-Black_TR;
      font-size: 15px;
      margin-left: 16px;
      margin-top: 11px; }
    .content-Conteiner .information .adres .adresaciklama p {
      color: #a4a4a4;
      font-family: Lato-Regular;
      font-size: 14px;
      margin-left: 16px;
      margin-top: 17px; }
  .content-Conteiner .information .telefon {
    margin-bottom: 43px; }
    .content-Conteiner .information .telefon .dikcubuk {
      width: 3px;
      height: 61px;
      background-color: #f2d54e;
      position: absolute; }
    .content-Conteiner .information .telefon .telefonana p {
      color: #2e2c2c;
      font-family: Gotham-Black_TR;
      font-size: 15px;
      margin-left: 16px;
      margin-top: 11px; }
    .content-Conteiner .information .telefon .telefonaciklama p {
      color: #a4a4a4;
      font-family: Lato-Regular;
      font-size: 14px;
      margin-left: 16px;
      margin-top: 17px; }
  .content-Conteiner .information .email {
    display: inline-block; }
    .content-Conteiner .information .email .dikcubuk {
      width: 3px;
      height: 61px;
      background-color: #f2d54e;
      position: absolute; }
    .content-Conteiner .information .email .emailana p {
      color: #2e2c2c;
      font-family: Gotham-Black_TR;
      font-size: 15px;
      margin-left: 16px;
      margin-top: 11px; }
    .content-Conteiner .information .email .emailaciklama {
      margin-left: 16px !important; }
      .content-Conteiner .information .email .emailaciklama p {
        color: #a4a4a4;
        font-family: Lato-Regular;
        font-size: 14px;
        margin-top: 17px; }
  .content-Conteiner .information-box {
    margin-left: 23px; }
    .content-Conteiner .information-box .name-box p {
      color: #000000;
      font-family: Gotham-Bold_TR;
      font-size: 14px;
      margin-top: 14px; }
    .content-Conteiner .information-box .eposta-box p {
      color: #000000;
      font-family: Gotham-Bold_TR;
      font-size: 14px;
      margin-top: 14px; }
    .content-Conteiner .information-box .telefon-box p {
      color: #000000;
      font-family: Gotham-Bold_TR;
      font-size: 14px;
      margin-top: 14px; }
    .content-Conteiner .information-box .ceptelefon-box p {
      color: #000000;
      font-family: Gotham-Bold_TR;
      font-size: 14px;
      margin-top: 14px; }
    .content-Conteiner .information-box .mesaj-box {
      padding-left: 15px;
      padding-right: 15px; }
      .content-Conteiner .information-box .mesaj-box p {
        color: #000000;
        font-family: Gotham-Bold_TR;
        font-size: 14px;
        margin-top: 14px; }
    .content-Conteiner .information-box .sozleme-onay p {
      display: inline;
      color: #000000;
      font-family: Gotham-Bold_TR;
      font-size: 14px;
      margin-top: 14px; }
    .content-Conteiner .information-box .cont-butn {
      float: right;
      background-color: #0d0d0d;
      border-radius: 0px;
      color: #ffffff;
      font-family: GothamNarrow-Bold;
      font-size: 12px;
      padding: 5px; }

.form-controlrl {
  resize: none; }

.footer-Conteiner .foot-menu {
  height: 69px;
  background-color: #f3f3f3; }
  .footer-Conteiner .foot-menu .footer-up {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #dadada;
    margin-top: 17px;
    margin-left: 75px;
    text-align: center;
    transition: background 0.5s; }
    .footer-Conteiner .foot-menu .footer-up:hover {
      background-color: #000000; }
      .footer-Conteiner .foot-menu .footer-up:hover a i {
        color: #ffffff; }
    .footer-Conteiner .foot-menu .footer-up a i {
      margin-top: 8px; }
  .footer-Conteiner .foot-menu .foot-wmenu {
    float: right; }
    .footer-Conteiner .foot-menu .foot-wmenu ul {
      list-style-type: none;
      margin-top: 31px;
      margin-bottom: 10px; }
      .footer-Conteiner .foot-menu .foot-wmenu ul li {
        float: left;
        margin-right: 27px;
        cursor: pointer;
        margin-bottom: 5px; }
      .footer-Conteiner .foot-menu .foot-wmenu ul a {
        text-decoration: none;
        color: #262626;
        text-transform: uppercase;
        font-family: Gotham-Medium_TR;
        font-size: 12px; }
        .footer-Conteiner .foot-menu .foot-wmenu ul a:hover {
          border-bottom: 2px solid #f0d04e;
          transition: border-bottom 0.2s;
          padding-bottom: 5px; }

.footer-Conteiner .footersos .fikirhakkı {
  margin-top: 35px;
  margin-left: 75px; }
  .footer-Conteiner .footersos .fikirhakkı p {
    text-decoration: none;
    color: #262626;
    text-transform: uppercase;
    font-family: Gotham-Medium_TR;
    font-size: 12px; }

.footer-Conteiner .footersos .footsos {
  margin-top: 21px;
  margin-right: 25px; }
  .footer-Conteiner .footersos .footsos .f-sosyal {
    float: left;
    width: 31px;
    height: 32px;
    text-align: center;
    margin-right: 35px;
    background-color: #262626;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px; }
    .footer-Conteiner .footersos .footsos .f-sosyal:hover {
      background-color: #3b5998; }
    .footer-Conteiner .footersos .footsos .f-sosyal a i {
      color: #f6f6f6;
      height: 20px;
      margin-top: 25%; }
  .footer-Conteiner .footersos .footsos .i-sosyal {
    float: left;
    width: 31px;
    height: 32px;
    text-align: center;
    margin-right: 35px;
    background-color: #262626;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px; }
    .footer-Conteiner .footersos .footsos .i-sosyal:hover {
      background-color: #517fa4; }
    .footer-Conteiner .footersos .footsos .i-sosyal a i {
      color: #f6f6f6;
      height: 20px;
      margin-top: 25%; }
  .footer-Conteiner .footersos .footsos .t-sosyal {
    float: left;
    width: 31px;
    height: 32px;
    text-align: center;
    background-color: #262626;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px; }
    .footer-Conteiner .footersos .footsos .t-sosyal:hover {
      background-color: #00aced; }
    .footer-Conteiner .footersos .footsos .t-sosyal a i {
      color: #f6f6f6;
      height: 20px;
      margin-top: 25%; }

.footer-Conteiner .foot-res {
  height: 53px;
  margin-top: 90px;
  background: url("http://i.hizliresim.com/9oZ5EZ.jpg") no-repeat center top scroll; }

.navbar-inverse {
  background-color: #ffffff;
  border-color: #ffffff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }

.navs .logo img {
  margin-top: 12px;
  margin-left: 75px;
  height: 100px;
  width: 158px; }

.navs .navbar-default .navbar-nav > li > a, .navs .navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.navs .primary_nav {
  margin-top: 16px;
  margin-left: 75px; }

.navs ul {
  list-style-type: none; }
  .navs ul li {
    padding: 0px 12px; }
    .navs ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: Gotham-Medium_TR;
      font-size: 13px;
      color: #ffffff; }
      .navs ul li a:hover {
        border-bottom: 2px solid #f0d04e;
        padding-bottom: 11px; }

.slider-i {
  font-size: 120px;
  color: #ffffff; }

.owl-stage {
  position: relative; }

.slider-part {
  width: 24px !important;
  height: 171px !important; }

.lg12 {
  padding: 0; }

.captionc {
  right: 20%;
  left: 20%;
  position: absolute;
  z-index: 10;
  padding-top: 20px;
  text-align: center;
  margin-top: 240px; }
  .captionc .contex {
    display: -webkit-inline-box;
    padding-left: 42px;
    padding-right: 42px; }
    .captionc .contex .contex-icerik {
      margin-top: 32px; }
      .captionc .contex .contex-icerik .sbaslik {
        color: #ffffff;
        font-family: Gotham-XLight_TR;
        font-size: 58px;
        display: inline; }
      .captionc .contex .contex-icerik .btnc {
        background-color: transparent;
        color: #efc146;
        margin-top: 28px;
        padding: 12px;
        border: 1px solid #efc146; }
      .captionc .contex .contex-icerik .saltbaslik {
        color: #ffffff;
        font-family: Gotham-Medium_TR;
        font-size: 14px; }

.owl-carousel .owl-item {
  width: 100%; }

.item img {
  height: 920px; }

.pszindex99 {
  z-index: 9999; }

.n-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(270deg, transparent 0%, transparent 100%);
  background-image: linear-gradient(180deg, transparent 0%, transparent 100%);
  webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out; }
